<a href="https://colab.research.google.com/github/kaushikraghav003-oss/python_basic/blob/main/Experiment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#program to demonstrate list and tuple in Python.

In [1]:
my_list = [10, 20, 30, 40]
my_tuple = (10, 20, 30, 40)
print("List elements:")
for item in my_list:
    print(item)
print("Tuple elements:")
for item in my_tuple:
    print(item)

List elements:
10
20
30
40
Tuple elements:
10
20
30
40

In [ ]:
# for loop

In [2]:
sequence = [1, 2, 3, 4, 5]
for i in sequence:
    print(i)

1
2
3
4
5

In [3]:
#while loop

In [4]:
num = int(input("Enter a number: "))
while num >= 0:
    print(num)
    num -= 1

Enter a number: 34
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0